@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;

  --color-surface: #f8f9fb;
  --color-surface-dim: #d8dadc;
  --color-surface-bright: #f8f9fb;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-highest: #e0e3e5;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #504447;
  --color-inverse-surface: #2d3133;
  --color-inverse-on-surface: #eff1f3;
  --color-outline: #827377;
  --color-outline-variant: #d4c2c6;
  --color-surface-tint: #805062;
  
  --color-primary: #805062;
  --color-on-primary: #ffffff;
  --color-primary-container: #f8bbd0;
  --color-on-primary-container: #76485a;
  --color-inverse-primary: #f2b6cb;
  
  --color-secondary: #326578;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #b5e7fe;
  --color-on-secondary-container: #37697d;
  
  --color-tertiary: #5d5e61;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #cbcbce;
  --color-on-tertiary-container: #545658;
  
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  --spacing-margin-page: 32px;
  --spacing-stack-sm: 16px;
  --spacing-stack-md: 32px;
  --spacing-stack-lg: 64px;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
